{% macro loop(page) %}
    <li class="_menu-item_ _menu-item-0_"><a href="{{ base_url }}/"><span>Home</span></a></li>
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? ' _menu-item-current_' : '' %}
        {% set get_custom_url = p.header.custom_url ? p.header.custom_url : p.url %}
        {% set get_custom_url_open_new_window = p.header.custom_url_open_new_window == 'true' ? ' target="_blank"' : '' %}

        <li class="_menu-item_ _menu-item-{{ loop.index }}_{{ current_page }}">
            <a href="{{ p.header.disable_link ? url('/') : get_custom_url }}"{{ get_custom_url_open_new_window }}{{ p.header.disable_link ? ' onClick="return false"' : '' }}>
                <span>{{ p.menu }}{% if p.header.custom_url_open_new_window %} <i class="fas fa-external-link-alt"></i>{% endif %}</span>
            </a>
            {% if p.header.submenus %}
                <ul class="_sub-menu_">
                    {% for submenu in p.header.submenus %}
                        <li class="_menu-item_ _menu-item-{{ loop.index }}_{{ submenu.childmenu ? ' _menu-item-has-child_' : '' }}">
                            {% if 'scroll=>' in submenu.link %}
                                {% set scroll_url = submenu.link|split('=>').0 %}
                                {% set get_scroll_url = scroll_url|split('_').0 == 'home' ? url('/') : scroll_url|split('_').0 %}
                                {% set do_link = url('/') ~ get_scroll_url ~ '#' ~ submenu.link|split('=>').1 %}
                            {% elseif submenu.link == '0' %}
                                {% set do_link = url('/') %}
                            {% else %}
                                {% set do_link = url('/') ~ submenu.link %}
                            {% endif %}
                            {% set the_link = page.header.custom_url ? page.header.custom_url : do_link %}
                            <a href="{{ submenu.disable_link ? url('/') : the_link }}"{{ submenu.disable_link ? ' onClick="return false"' : '' }}{{ submenu.new_window ? ' target="_blank"' : '' }}>
                                <span class="_menu-item-name_">{{ submenu.name }}{% if submenu.new_window %} <i class="fas fa-external-link-alt"></i>{% endif %}</span>
                            </a>
                            {% if submenu.childmenu %}
                            <ul class="_sub-menu_ _sub-menu-more-child_">
                                {% for child in submenu.childmenu %}
                                <li class="_menu-item_ _menu-item-{{ loop.index }}_">
                                    {% if 'scroll=>' in child.link %}
                                        {% set scroll_url = child.link|split('=>').0 %}
                                        {% set get_scroll_url = scroll_url|split('_').0 == 'home' ? url('/') : scroll_url|split('_').0 %}
                                        {% set child_link = get_scroll_url ~ '#' ~ child.link|split('=>').1 %}
                                    {% else %}
                                        {% if child.link starts with 'http' %}
                                            {% set child_link = child.link %}
                                        {% else %}
                                            {% set child_link = 'baseurl=>' in child.link ? url('/') ~ child.link|split('=>').1 : child.link %}
                                        {% endif %}
                                    {% endif %}
                                    <a href="{{ child_link }}"{{ child.disable_link ? ' onClick="return false"' : '' }}{{ child.new_window ? ' target="_blank"' : '' }}>
                                        <span>{{ child.name }} {% if child.new_window %}<i class="fas fa-external-link-alt"></i>{% endif %}</span>
                                        {% if child.description %}
                                        <span class="_menu-item-description_">{{ child.description }}</span>
                                        {% endif %}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>

    {% endfor %}


{% endmacro %}

<ul class="_menu_">
    {% if theme_config.dropdown.enabled %}
        {{ _self.loop(pages) }}
    {% else %}
        {% for page in pages.children.visible %}
            {% set get_url = page.header.custom_url ? page.header.custom_url : page.url %}
            {% set current_page = (page.active or page.activeChild) ? '_menu-item-current_' : '' %}
            <li class="_menu-item_ {{ current_page }}">
                <a href="{{ get_url }}">
                    {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                    {{ page.menu }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
    {% for mitem in site.menu %}
        <li>
            <a href="{{ mitem.url }}">
                {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                {{ mitem.text }}
            </a>
        </li>
    {% endfor %}
</ul>